.card-details-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-bottom: 16px;
  margin-left: 5px;
  margin-right: 5px;
}

.top-div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
}

.title-div {
  flex: 0 0 auto;
  width: 150px;
}

.add-button-div {
  flex: 0 0 auto;
  width: 40px;
}

.top-div {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.rarity-button,
.add-button,
.btn {
  width: 100%;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(700px, 1fr));
  grid-gap: 12px;
  justify-items: center;
  grid-auto-rows: minmax(500px, auto);

}

.card-image-div {
  flex: 0 0 150px;
  height: 250px;
  overflow: hidden;
}

.card-image-div img, .addToUser {
  max-width: 100%;
  height: auto;
}


.card-details-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-details-details {
  flex: 1 1 auto;
}

.card-details-details table {
  width: 100%;
}

.card-details-details td {
  text-align: left;
  padding: 5px;
}

.container.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: max-content;
}

.card {
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding: 5px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 300px;
  max-width: 200px;
  align-items: center;
  justify-content: space-around;
}

.card-img {
  width: 90%;
  height: auto;
  object-fit: fill;
  border-radius: 4px 4px 0 0;
}

.card-footer {
  padding: 3px;
  text-align: center;
}

.card-details {
  text-align: center;

}

.card-id {
  font-weight: bold;
}

.addToUser {
  margin-top: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
  flex: 0 0 auto;
}

 .grid-container {
  display: flex;
  justify-content: space-around;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  flex: 1 1 0;
}
